<!-- This file overrides comments.html in https://github.com/mmistakes/minimal-mistakes/blob/master/_includes/comments.html
It opt for utterances as a comments widget provider. -->
<br>

<div class="js-comments">
  <center> ---------------------------- </center>

  <script src={{ site.comments.utterances.src }}
          repo={{ site.comments.utterances.repo }}
          issue-term={{ site.comments.utterances.issue_term }}
          label={{ site.comments.utterances.label }}
          theme={{ site.comments.utterances.theme }}
          crossorigin={{ site.comments.utterances.crossorigin }}
          async>
  </script>
</div>
